<div class="text-center">
    <img src="~/images/checkout_badge1.png" class="img-fluid" alt="Pedido Finalizado" />
    <h3 class="card-title">Pedido Finalizado</h3>
    <h4>Obrigado por sua compra</h4>
    <span style="font-size:20px">Número do seu pedido: <b>123-SSJ1</b></span>
    <a class="page-link" asp-area="" asp-asp-controller="Home" asp-action="Index">
        <h3>Voltar para a loja</h3>
    </a>
</div>
